.hero__wrapper {
    background-image: url('../img/img6.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
.hero {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 10rem;
    line-height: 1;
    position: relative;
}
.hero .text {
    margin-left: 0;
    margin-bottom: 4rem;
}
.hero__title {
    font-size: 2rem;
    letter-spacing: .3rem;
    line-height: 1.5;
    font-weight: 900;
    margin-bottom: 2rem;
    font-family: var(--title-font);
}
@media screen and (min-width: 1024px)  {
    .hero {
        text-align: left;
        padding: 20rem 0 15rem;
    }
    .hero__title {
        font-size:4rem;
    }
    .hero__link {
        padding: 3rem 4rem;
        font-size: 1.6rem;
    }
}
